<%= form_with(model: menu, local: true) do |form| %>
  <% if menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <div class="field">
    <button id="new-shop">店舗入力</button>
  </div>

  <div class="field" id="shop-list">
    <%= form.label :shop %>
    <%= form.collection_select(:shop_id, Shop.all, :id, :name)%> 
  </div>

  <div class="field" id="shop-field" style="display: none;">
    <%= form.fields_for :shop do |shop|%>
    <%= shop.label :店舗入力 %>
    <%= shop.text_field :name %>
    <%end%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
