<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @menu.comment %>
</p>

<p>
  <strong>Shop:</strong>
  <%= @menu.shop %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
